* {
    font-family: Roboto;
    
}

main {
    background-image: url(/images/raptor_draft5.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: darkgrey;
    min-height: 70vh;
}

header {
    display: flex;
    background: slategray;
    border:  black solid 3px;
    display: grid;

    justify-content: space-between;
    align-content: stretch;
    grid-template-columns: 3fr 1fr 1fr;
    
    grid-template-areas: 
        "name name logo-links"
        "quote quote logo-links";
}
#name {
    margin-top: 0%;
    flex: auto;
    flex-grow: 3;
    /* background: green; */
    /* border:  solid black 5px; */
    font-family: Roboto;
    font-weight: bold;
    font-size: 4rem;
    display: grid;
    grid-area: 'name';
}
#quote {
    /* background: yellow; */
    flex-grow: 3;
    border: none;
    position: top;
    font-size: 1.5rem;
    font-family: Spectral;
    grid-area: 'quote' 'quote' 'quote';
}
nav {
    
    background-color: rgba(169, 169, 169, 0.9);
    box-sizing: border-box;
    padding-right: 10px;
    flex-flow: column;
    flex-grow: 1;
    flex: content;
    justify-content: flex-end;
    border: black 3px;    
    font-family: Roboto;
    font-weight: bold;
    grid-area: logo-links;
}

li {
    text-shadow: black;
    font-weight: bold;
    text-decoration: black;
}

#logo {
    background-color: transparent;
    grid-area: logo-links;
}

#about-me {
    margin-top: 5px;
    border: black solid 5px;
    background: #fff;
    background-color: rgba(169, 169, 169, 0.95);
    min-height: 15vh;
}
