* {
    font-family: Roboto;
    
}

body {
    margin-left: -1%;
    margin-right: -1%;
}

main {
    margin-top: 200px;
    background-image: url(/images/key_shapegray.jpg);
    background-position-x: center;
    background-attachment: fixed;
    background-size: contain;
    background-color: grey;
    width: 100%;
    margin-right: -1%;
    min-height: 50vh;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 200px;
    margin: -1%;
    /* background: darkgray; */
    background-image: URL(images/key_shapegray.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: solid transparent .4rem;
    border-image: linear-gradient(0.15turn, grey 30%, darkgray 60%);
    border-image-slice: 1;
    display: grid;
    padding-top: 1%;
    padding-left: 2%;
    justify-content: space-around;
    align-content: space-around;
    grid-template-columns: 3fr 1fr 1fr;
    
    grid-template-areas: 
        "name name logo-links"
        "quote quote logo-links";
}
#name {
    margin-top: 0%;
    flex-grow: inherit;
    background-color: rgba(195, 195, 195, 0.7);
    /* background: green; */
    /* border:  solid black 5px; */
    font-family: Roboto;
    font-weight: bold;
    font-size: 4rem;
    display: grid;
    grid-area: 'name';
}
#title{
    flex-grow: 3;
    border: none;
    position: top;
    justify-self: center;
    font-size: 1.5rem;
    font-family: Roboto;
    grid-area: 'quote';
}
#quote {
    /* background: yellow; */
    flex-grow: 3;
    border: none;
    position: relative ;
    padding-top: 2%;
    font-size: 1.5rem;
    font-family: Spectral;
    grid-area: 'quote';
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
nav {
    background-color: rgba(195, 195, 195, 0.7);
    padding-right: 10px;
    flex-flow: column;
    flex-grow: 1;
    flex: content;
    justify-content: flex-end;
    /* border: solid darkgray 3px;     */
    font-family: Roboto;
    font-weight: bold;
    grid-area: logo-links;
}

li {
    text-shadow: black;
    font-weight: bold;
    text-decoration: black;
    list-style-type: none;
    line-height: 1.5em;
}

#logo {
    background-color: transparent;
    grid-area: logo-links;
}

.skills-list {
    border: solid 3px rgba(169, 169, 169, 0.5);
    background: rgba(169, 169, 169, 0.95);
    font-family: Roboto;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    padding: 5px;
    
}

#icons {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

ul#icons li :hover {
    transform: scale(1.2);
}


#projects {
    background: rgba(169, 169, 169, 0.95);
    border: solid rgba(169, 169, 169, 0.5) 2px;
    border-radius: 3px;
    font-size: x-large;
    text-align: center;
}

#projects article {
    padding-bottom: 10px;
}

#current-projects {
    font-weight: bolder;
    text-decoration: underline;
}

.about-me {
    display: grid;
    grid-template-areas: 
        'title title title'
        'bio image image';
    justify-content: space-around;
    padding: 5%;
    border: rgba(169, 169, 169, 0.95) solid 5px;
    background: #fff;
    background-color: rgba(169, 169, 169, 0.95);
    min-height: 15vh;
    
}

.about-me article {
    flex-direction: row;
}

#about-me {
    grid-area: title;
    font-size: x-large;
    font-weight: bolder;
    justify-self: center;
}

#bio {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    grid-area: bio;
    font-weight: lighter;
    padding: 2%;
}

#back {
    text-align: center;
    padding: 2%;
}

#back img {
    grid-area: image;
    border: solid transparent 10px;
    border-image: linear-gradient(0.13turn, rgb(59, 125, 155) 40%, grey 60%);
    border-image-slice: 1;
}

footer {
    display: flex;
    flex-direction: row;
    font-size: small;
    background: darkgray;
    border: solid transparent 0.2rem;
    border-image: linear-gradient(0.15turn, grey 30%, darkgray 60%);
    border-image-slice: 1;
    width: 100%;
    margin: -1%;
}