.header-1 {
    background: lightslategray;
    display: grid;
    grid-area: 
        "name blank top-links"
        "quote blank top-links"
        ;
}
#name {
    background: green;
    font-size: 4rem;
    grid-column: 1/3;
}
#quote {
    background: yellow;
    position: top;
    font-size: 1.5rem;
    font-style: italic;
    grid-column: 1/2;
}
.top-links {
    background: orange;
}

.v-raptor {
    background: fuchsia;
}
